{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-4 mb-2">Add Your ToDos here..!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form class="form-inline justify-content-center" action="add_todo/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.todo_text }}
                </div>
                <button type="submit" class="mx-2 btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 table-responsive">
            <table class="table">
                <caption>ToDos List...</caption>
                <tbody>
                    {% for todo in todo_list %}
                    <tr>
                        <td>
                            <p>{{ todo.name }}</p>
                            <p class="text-muted"><small>Added On: {{ todo.added_date }}</small></p>

                            <!-- Show updated time info only if it's not equal to the add time info -->
                            {% if todo.added_date != todo.updated_date %}
                            <p class="text-muted"><small>Updated On: {{ todo.updated_date }}</small></p>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <a href="{% url 'edit_todo' todo.id %}" type="button" class="mx-2 btn btn-info">EDIT</a>
                        </td>
                        <td class="text-left">
                            <form method="POST" action="{% url 'delete_todo' todo.id %}">
                                {% csrf_token %}
                                <button type="submit" class="mx-2 btn btn-danger">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <th id="empty">No Items in ToDo List</th>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}